@import "./media.scss";

@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:400,900&display=swap");

$accent: rgb(203, 204, 204);

$accent-2: rgb(194, 194, 194);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Darker Grotesque", sans-serif;
}

p {
    font-size: 25px;
    width: 75%;
}

body {
    background: rgb(224, 223, 223);
}

header {
    border: 2px solid black;
    background-image: url("images/digital-wave.jpeg");
    // height: 450px;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 90px;

    p {
        text-align: center;
        font-weight: 500;
        font-size: 45px;
        border-radius: 15px;
        color: whitesmoke;
        text-shadow: 7px 3px 5px black;
        line-height: .7;
        padding-bottom: 35px;
        // margin-top: -25px;
        // margin: 80px;
    }
}


h1 {
    // background-color: rgba(250, 242, 242, 0.221);
    // box-shadow: 7px 3px 5px black;
    // padding: 15px;
    // width: 30%;
    
    text-align: center;
    font-weight: 500;
    font-size: 95px;
    border-radius: 15px;
    color: whitesmoke;
    text-shadow: 7px 3px 5px black;
    line-height: .7;
    padding-bottom: 35px
    // margin: 80px;
}


nav {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    height: fit-content;
    background: #5b8d98e8;
    align-items: center;
    box-shadow: 0px 5px 8px gray;
    a {
        text-decoration: none;
        font-size: 35px;
        color: whitesmoke;
        text-shadow: 7px 3px 5px black;
        padding: 0 10px;
    }
    a:hover {
        color: lightgray;
    }
}

section {
    border: 2px solid-black;
    padding: 60px 0;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    background: $accent;

}

h2 {
    font-size: 35px;
    font-weight: normal;
    padding-bottom: 30px;
}

// Project Section

.projects {
    background: $accent-2;
    h2 {
        text-align: center;
        font-weight: lighter;
    }
    .proj-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            border: 2px solid black;
            box-shadow: 7px 3px 5px darkgray;
            border-radius: 10px;
            height: 500px;
            width: 500px;
            margin: 40px;
        }
        h3 {
            font-size: 30px;
            border-radius: 10px 10px 0px 0px;
            box-shadow: 0px 3px 5px black;
            border: 1px solid black;
            padding: 30px;
            text-align: center;
        }
    }
}

// Skill Section


.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #343434;
    padding: 40px;
    color: whitesmoke;
    h2 {
        text-align: center;
        font-weight: lighter;
    }
    
    @media only screen and (min-width: 600px) {
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr)
    }
    }

    li{
        text-align: center;
        list-style-type: none;
        font-size: 25px;
        // width: 20vw;
        padding: 0 20px;
    }
    img {
        width: 40vh;
        margin: auto;
        
    }
}



// Resume Section


// Contact Section


// Footer Section

footer {
    display: flex;
    justify-content: space-evenly;
    h5 {
        font-size: 150px;
        
    }
    a {
        color: #046b88;
    }
}

