body, h1 {
    margin: 0;
    background: #c8c8c8;
}
*{
    font-family: 'Baloo Bhaina', cursive;

}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
}

form {
    width: 75vw;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin {
    margin: 24px 0;
}

img {
    border-radius: 8px;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
    box-shadow: 0px 2px 10px -6px black;
    margin: 8px;

}