body {
    /* margin: -13px; */
    background: #f4f4f4;
    margin: 0;
}

*{
    font-family: 'Baloo Bhaina', cursive, "";
}

.container {  
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 100px 50px auto 150px; */
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
}

form {
    width: 50vw;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carInfoButtons {
    width: 275px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.margin {
    margin: 24px 0;
}

img {
    border-radius: 8px;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
    box-shadow: 0px 2px 10px -6px black;
    margin: 8px;

}

.header, h1, h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    background: rgb(233,232,148);
background: radial-gradient(circle, rgba(233,232,148,1) 0%, rgba(255,163,3,1) 100%);
}

h1 {
    font-style: italic;
    margin-bottom: -40px;
    font-size: 60px;
    color: darkorange;
    text-shadow: 3px 5px 2px black;
}

/* .footer {
    display: flex;
    justify-content: space-evenly;
} */