body, h1 {
    margin: 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
}

form {
    width: 75vw;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin {
    margin: 24px 0;
}

/* Navbar */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav > a {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    margin: 0;
    text-align: center;
    width: 80%;
    padding: 8px;
}
.nav-active {
    background-color: lightgrey;
}

/* LoggedSum */
.logged-cars {
    width: 40vw;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    list-style: none;
}

.totals {
    width: 60vw;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
    text-align: center;
    list-style: none;
}

.car-info{
    width: 80vw;
    border: 4px solid black;
    border-radius: 5px;
    margin: 45px;
    text-align: center;
}