/* Navbar */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav > a {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16pt;
    margin: 6px 12px;
    text-align: center;
    width: 80%;
    padding: 8px;
    transition: all 100ms linear;
}
.nav > a:hover {
    box-shadow: 0px 0px 5px black;
}
.nav-active {
    box-shadow: 0px 0px 5px black;
    background-color: lightgrey;
}

@media screen and (min-width: 678px) {
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 20px;
    }
  }