body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .banner{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    
  }
  .bannerPic {
    height: 100%;
    float: left;
    
  }
  .heading{
    color: red;
    font-family: impact;
    font-weight: bolder;
    font-size: 50px;
  }
  .everyPersonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    
  }
  .individualPersonContainer{
    border: 1px solid black;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-top: 8px;
  }
  .personImage{
    height: 220px;
    width: 200px;
  }
  .personHeading{
    background-color: rgba(21, 116, 148, 0.493);
    width: 100%;
    text-align: center;
  }